<!--The content below is only a placeholder and can be replaced.-->
<div>  
  <h1>
    {{ title }}
  </h1>

  <h2>A place to store the things you have to do!</h2>

  <input type="text" placeholder="Filter your to-do's" [(ngModel)]="filterTasks" (input)="filterFunction(todo)" />

  <ol>
    <li *ngFor="let todo of filteredTasks, trackByEntry let i=index">
      <section><span class="number">{{i + 1}}.</span>
      <button *ngIf="!todo.completed" class="complete" (click)="completeTask(i)">complete</button>
      <span *ngIf="todo.completed" class="completed">{{ todo.task }}</span>
      <span *ngIf="!todo.completed">{{ todo.task }}</span>
      </section>
      <button class="btn"><i class="fas fa-times" (click)="removeTask(i)"></i></button>
    </li>
  </ol>
  
  <p><input type="text" placeholder="Add your to-do" [(ngModel)]="taskInput" /></p>
  <button class="addBtn" (click)="addTask()">Add</button>

</div>